<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<connectionStrings>
    <add name="AbsDbContext" connectionString="metadata=res://*/ABSGeneralModel.csdl|res://*/ABSGeneralModel.ssdl|res://*/ABSGeneralModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=ABS_GENERAL_STAGING;persist security info=True;user id=sa;password=FemiCustodian;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  <connectionStrings>
    <!--<add name="NiidDbContext" connectionString="metadata=res://*/NIIDModel.csdl|res://*/NIIDModel.ssdl|res://*/NIIDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.74;initial catalog=ABSDATA_TRANSIT;persist security info=True;user id=absuser;password=Custodian2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>